
# virtual environment
.venv/

# python binaries/bytecode
__pycache__/
*.pyc

# environment variables file
.env

# database files
*.db

# MCP files created on DT's computer
embeddings.*

# The access token of the console app
.session.json
social-media-app.code-workspace
